<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Quản lý website</title>
</head>

<body>
<body>
   <div align="center">
        <h1>Sửa thông tin khách hàng</h1>
        <br />
        <form action="#" th:action="@{/luukh}" th:object="${student}" method="POST">
            <table border="0" cellpadding="10">
              
                
                
                 <tr>
						<td>Mã khách hàng:</td>
						<td>

							<input type="text" th:field="*{maKH}" value="" required />
						</td>
					</tr>
					<tr>
						<td>Họ tên:</td>
						<td><input type="text" th:field="*{ten}" value="" required /></td>
					</tr>


					<tr>
						<td>Ngày sinh:</td>
						<td>
							<input type="date" th:field="*{ngaysinh}" value="" required />
						</td>

					</tr>


					<tr>
						<td>Địa chỉ:</td>
						<td><input type="text" th:field="*{address}" value="" required /></td>
					</tr>

					<tr>
						<td>Số điện thoại:</td>
						<td><input type="text" th:field="*{sdt}" value="" required /></td>

					</tr>
					
					<tr>
						<td>Email:</td>
						<td><input type="text" th:field="*{email}" value="" required /></td>

					</tr>                  
                 
            </table>
            
            
            <table border="0" cellpadding="10" cellspacing="10">
					<th>
					<td><button type="submit">Lưu</td>
					</th>

					<th>
					<td><input type="button" onclick="history.back()" value="Quay lại" />

					<th>
				</table>
        </form>
    </div>
</body>
</html>